<div class="container-fluid" ng-controller="EventsCtrl as ev">
    <div class="row">
        <div class="col-lg-6 fn-event" ng-repeat="event in ev.events">
            <div class="fn-event-header">
                <div class="fn-event-title">{{event.title}}</div>
                <div class="fn-event-place">{{event.date}}, {{event.place}}</div>
                <div class="fn-event-toolbar">
                    <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-play"></span></button>
                    <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-camera"></span></button>
                    <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-star"></span></button>
                </div>
            </div>
            <div class="fn-event-content">
                <p>{{event.content}}</p>
            </div>
        </div>
    </div>
</div>
