<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="bs-callout bs-callout-danger">
                <h4>News 1</h4>
                <p>Это CSS-селектор класса Х. Разница между id и классом заключается в том, что одному классу может принадлежать несколько элементов на странице. Используйте классы, когда вы хотите применить стиль к нескольким однотипным элементам. При использовании id вам придется писать стиль для каждого отдельного элемента.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bs-callout bs-callout-info">
                <h4>News 1</h4>
                <p>Это CSS-селектор класса Х. Разница между id и классом заключается в том, что одному классу может принадлежать несколько элементов на странице. Используйте классы, когда вы хотите применить стиль к нескольким однотипным элементам. При использовании id вам придется писать стиль для каждого отдельного элемента.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bs-callout bs-callout-warning">
                <h4>News 1</h4>
                <p>Это CSS-селектор класса Х. Разница между id и классом заключается в том, что одному классу может принадлежать несколько элементов на странице. Используйте классы, когда вы хотите применить стиль к нескольким однотипным элементам. При использовании id вам придется писать стиль для каждого отдельного элемента.</p>
            </div>
        </div>
    </div>
</div>
