@import "bootstrap/css/_variables.less";

@callout-border: @gray-lighter;
@main-background-color: #2b1108;
@main-text-color: #fffee2;

@fn-face-text-color: #fefa95;
@fn-face-text-shadow-color: #901314;


body {
  background-color: @main-background-color;
  color: @main-text-color;
}

.debug-border {
  border: 1px red solid;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  &.bs-callout-primary {
    border-color: @brand-primary;
    h1, h2, h3, h4, h5, h6 {  color: @brand-primary; }
  }

  &.bs-callout-success {
    border-color: @brand-success;
    h1, h2, h3, h4, h5, h6 {  color: @brand-success; }
  }

  &.bs-callout-info {
    border-color: @brand-info;
    h1, h2, h3, h4, h5, h6 {  color: @brand-info; }
  }

  &.bs-callout-warning {
    border-color: @brand-warning;
    h1, h2, h3, h4, h5, h6 {  color: @brand-warning; }
  }

  &.bs-callout-danger {
    border-color: @brand-danger;
    h1, h2, h3, h4, h5, h6 {  color: @brand-danger; }
  }
}



.fn-face {

  .fnFaceTextColor() {
    color: @fn-face-text-color;
    text-shadow: 2px 2px 2px @fn-face-text-shadow-color;
  }
  .fnFaceTextColorInverted() {
    color: @fn-face-text-shadow-color;
    text-shadow: 2px 2px 2px @fn-face-text-color;
  }
  .fnFaceFont() {
    font-size: 20px;
    font-family: Arial;
  }

  -webkit-transition: height .3s ease-in-out, margin .3s ease-in-out;
  -moz-transition: height .3s ease-in-out, margin .3s ease-in-out;

  .fn-face-background {
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    display: block;
    background-image: url(/assets/images/face-autumn-1.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &.fn-small-height {
      height: 80px;
    }
  }

  &.fn-small-height {
    height: 80px;

    .navbar {

      @media (min-width: @grid-float-breakpoint) {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }

  .jumbotron {
    background-color: transparent;
    color: @fn-face-text-color;
    text-shadow: 1px 1px 0 @fn-face-text-shadow-color, -1px -1px 0 @fn-face-text-shadow-color, -1px 1px 0 @fn-face-text-shadow-color, 1px -1px 0 @fn-face-text-shadow-color;
  }

  .jumbotron.fn-silverMedal {
    background-image: url(/assets/images/silver-medal.gif);
    background-repeat: no-repeat;
    background-position: top left;

    @media (min-width: @grid-float-breakpoint) {
      height: 300px;
      .content {
        position: absolute;
        bottom: 0;
        left: 60px;
      }
    }


    @media (max-width: @grid-float-breakpoint-max) {
      height: 150px;
      background-size: contain;
      .content {
        position: absolute;
        bottom: 0;
        left: 30px;
      }
    }
  }

  .navbar {
    @media (min-width: @grid-float-breakpoint) {
      background: transparent;
      border-color: transparent;
      box-shadow: none;
      -webkit-box-shadow: none;

      margin-top: 50px;
      margin-bottom: 100px;
      -webkit-transition: height .3s ease-in-out, margin .3s ease-in-out;
      -moz-transition: height .3s ease-in-out, margin .3s ease-in-out;


      .navbar-nav {
        > li > a.a-btn {
          background: transparent;
          -webkit-border-radius: 13px;
          -moz-border-radius: 13px;
          border-radius: 13px;
          .fnFaceFont();
          .fnFaceTextColor();
          font-size: 20px;
          padding: 10px 20px 10px 20px;
          border: solid @fn-face-text-color 2px;
          text-decoration: none;
          margin-right: 10px;
          -webkit-transition: background .3s ease-in-out;
          -moz-transition: background .3s ease-in-out;

          &:hover, &:focus {
            .fnFaceTextColor();
            background-color: @fn-face-text-shadow-color;
          }
        }

        > .active > a.a-btn {
          &, &:hover, &:focus {
            .fnFaceTextColorInverted();
            background-color: @fn-face-text-color;
          }
        }

        > .disabled > a.a-btn {
          &, &:hover, &:focus {
            border-color: @gray-light;
            color: @gray-light;
            text-shadow: none;
            background-color: transparent;
          }
        }
      }
      
      .navbar-brand {
        .fnFaceFont();
        .fnFaceTextColor();
      }
    }
  }

  .navbar-collapse {
    box-shadow: none;
  }

}

@fn-box-border-radius: @border-radius-large;
.fn-top-rounded(@radius :@fn-box-border-radius) {
          border-top-left-radius:  @radius;
          border-top-right-radius: @radius;
     -moz-border-top-left-radius:  @radius;
     -moz-border-top-right-radius: @radius;
  -webkit-border-top-left-radius:  @radius;
  -webkit-border-top-right-radius: @radius;
}

.fn-rounded(@radius :@fn-box-border-radius) {
          border-radius: @radius;
     -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}


.fn-block(){
  .fn-rounded();
  padding: 0;
  margin: @grid-gutter-width 0 0 0;

  h2, .h2 {
  //    border: 1px #ff1cd9 solid;
      font-size: @font-size-h4;
      padding: 5px;
      margin: 0;
  //    padding-top: 20px;
  //    margin-left: 20px;
  }
  h3, .h3 {
    padding: 5px;
    margin: 0;
//    border: 1px #fff5fa solid;
//    margin-right: 20px;
//    margin-bottom: 10px;
    text-align: right;
    font-size: @font-size-h5;
  }

}

.about-block {
    .fn-block();

  > img.img-circle {
    margin-right: 5px;
  }

}


.fn-event {
  .fn-block();
  border: 1px @main-text-color solid;
  background-color: @main-background-color;
  color: @main-text-color;


  .fn-event-header {
//    border: 1px transparent solid;
    text-shadow: 2px 2px 2px #916225;
//    border: 1px #cafff7 solid;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    .fn-top-rounded();

    .fn-event-toolbar{
//      border: 1px #58baff solid;
      margin-right: 20px;
      padding-bottom: 10px;
      text-align: right;
      font-size: @font-size-h4;

      .btn-default {
        background: fadeout(@main-background-color, 30%);
        color: @brand-warning;
      }
    }

  }

  .fn-event-content {
//    border: 1px #a5ff34 solid;
    padding: 7px;
    font-size: @font-size-base;
  }
}

.fn-footer{
  padding: 10px 0;
}


