@import "bootstrap/css/_variables.less";

@callout-border: @gray-lighter;

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  .bs-callout-primary {
    border-left-color: @brand-primary;
    h1, h2, h3, h4, h5, h6 {  color: @brand-primary; }
  }

  .bs-callout-success {
    border-left-color: @brand-success;
    h1, h2, h3, h4, h5, h6 {  color: @brand-success; }
  }

  .bs-callout-info {
    border-left-color: @brand-info;
    h1, h2, h3, h4, h5, h6 {  color: @brand-info; }
  }

  .bs-callout-warning {
    border-left-color: @brand-warning;
    h1, h2, h3, h4, h5, h6 {  color: @brand-warning; }
  }

  .bs-callout-danger {
    border-left-color: @brand-danger;
    h1, h2, h3, h4, h5, h6 {  color: @brand-danger; }
  }
}


@fn-brand-text-color: #fefa95;
@fn-brand-text-shadow-color: #901314;

@fn-face-text-color: @fn-brand-text-shadow-color;
@fn-face-text-shadow-color: @fn-brand-text-color;


.fnFaceText {
  color: @fn-brand-text-color;
  text-shadow: 2px 2px 2px @fn-brand-text-shadow-color;
}
.fnFaceTextInverted {
  color: @fn-brand-text-shadow-color;
  text-shadow: 2px 2px 2px @fn-brand-text-color;
}


.fn-face {
  height: 800px;
  background-color: #ccc;
  display: block;
  background-image: url(/assets/images/face-autumn-1.gif);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: height .3s ease-in-out, margin .3s ease-in-out;
  -moz-transition: height .3s ease-in-out, margin .3s ease-in-out;

  .fn-brand {
    .fnFaceText();
  }

  .jumbotron {
    background-color: transparent;
  }

  .jumbotron.fn-silverMedal {
    background-image: url(/assets/images/silver-medal.gif);
    background-repeat: no-repeat;
    background-position: top left;

    @media (min-width: @grid-float-breakpoint) {
      height: 300px;
      .content {
        position: absolute;
        bottom: 0;
        left: 60px;
      }
    }

    h1 {
      color: @fn-face-text-color;
      text-shadow: 1px 1px 0 @fn-face-text-shadow-color, -1px -1px 0 @fn-face-text-shadow-color, -1px 1px 0 @fn-face-text-shadow-color, 1px -1px 0 @fn-face-text-shadow-color;
    }

    @media (max-width: @grid-float-breakpoint-max) {
      height: 150px;
      background-size: contain;
      .content {
        position: absolute;
        bottom: 0;
        left: 30px;
      }
    }
  }

  .navbar {

    @media (min-width: @grid-float-breakpoint) {
      background: transparent;
      border-color: transparent;
      box-shadow: none;
      -webkit-box-shadow: none;

      margin-top: 50px;
      margin-bottom: 100px;
      -webkit-transition: height .3s ease-in-out, margin .3s ease-in-out;
      -moz-transition: height .3s ease-in-out, margin .3s ease-in-out;


      .navbar-nav {
        > li > a.a-btn {
          background: transparent;
          -webkit-border-radius: 13px;
          -moz-border-radius: 13px;
          border-radius: 13px;
          font-family: Arial;
          .fnFaceText();
          font-size: 20px;
          padding: 10px 20px 10px 20px;
          border: solid @fn-brand-text-color 2px;
          text-decoration: none;
          margin-right: 10px;
          -webkit-transition: background .3s ease-in-out;
          -moz-transition: background .3s ease-in-out;

          &:hover, &:focus {
            .fnFaceText();
            background-color: @fn-brand-text-shadow-color;
          }
        }

        > .active > a.a-btn {
          &, &:hover, &:focus {
            .fnFaceTextInverted();
            background-color: @fn-brand-text-color;
          }
        }

        > .disabled > a.a-btn {
          &, &:hover, &:focus {
            border-color: @gray-light;
            color: @gray-light;
            text-shadow: none;
            background-color: transparent;
          }
        }
      }


    }

  }

  .navbar-collapse {
    box-shadow: none;
  }
}

.fn-face.fn-small-height {
  height: 80px;

  .navbar {

    @media (min-width: @grid-float-breakpoint) {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

}



