<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Фантазия</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href='@routes.Assets.at("bootstrap/css/bootstrap.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("bootstrap/css/theme.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("bootstarp-add.css")'>
</head>
<body>
    <div class="container-fluid fn-face" ng-controller="NavigationController as nav" ng-class="{'fn-small-height': !nav.faceOpened}">
        <div class="fn-face-background"></div>
        <div class="container">

                <!-- Static navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-class="{'active': nav.isSelected('about')}">
                                <a class="a-btn" href="#/about" ng-click="nav.onNavigationClick('about')">О нас</a>
                            </li>
                            <li ng-class="{'active': nav.isSelected('events')}">
                                <a class="a-btn" href="#/events" ng-click="nav.onNavigationClick('events')">События</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="a-btn dropdown-toggle" data-toggle="dropdown">Ещё <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-class="{'active': nav.isSelected('concerts')}"><a href="#/concerts" ng-click="nav.onNavigationClick('concerts')">Концерты</a></li>
                                    <li ng-class="{'active': nav.isSelected('repertoire')}"><a href="#/repertoire" ng-click="nav.onNavigationClick('repertoire')">Наш репертуар</a></li>
                                    <li class="divider"></li>
                                    <li ng-class="{'active': nav.isSelected('achievements')}"><a href="#/achievements" ng-click="nav.onNavigationClick('achievements')">Наши достижения</a></li>
                                    <li ng-class="{'active': nav.isSelected('writeToUs')}"><a href="#/writeToUs" ng-click="nav.onNavigationClick('writeToUs')">Напишите нам</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </div>
            @*<pre>$location.path() = {{nav.$location.path()}}</pre>*@

        </div> <!-- /container -->

        <div class="row" ng-show="nav.faceOpened">
            <div class="col-lg-offset-1 col-lg-6 col-sm-5">
                <div class="jumbotron fn-brand">
                    <h1>Фантазия</h1>
                    <p>Женский вокальный академический ансамбль</p>
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="jumbotron fn-brand fn-silverMedal">
                    <div class="content">
                        <h1>Серебрянная медаль</h1>
                        <p>на Мировых Хоровых Играх, Рига 2014</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-view></div>

    <div class="container-fluid fn-footer">
        <div class="text-right small">
            Создано с помощью PlayFramework, AngularJs, Bootstrap, Coffescript. Новосибирск, 2014г.
        </div>
    </div>

    <script src='@routes.Assets.at("jquery/jquery-1.11.1.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("bootstrap/js/bootstrap.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("angular/angular.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("angular/angular-route.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/fantasy-app.js")' type="text/javascript"></script>

    <script src='@routes.Assets.at("javascripts/paticipants/participants-module.js")' type="text/javascript"></script>

</body>
</html>